#hero {
    background-image: url(../images/ashish-kumar-senapati-egDxpa494ck-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#hero .d-flex {
    height: 100vh;
}

.navbar-brand img {
    height: 15vh;
}

.alert-link {
    color: white;
    font-size: 0.95rem;
}

.navbar-nav {
    font-size: 1.125rem;
}

.btn-outline-dark {
    font-size: 1.125rem;
}

a {
    color: white;
}